:root{
  --main-text-color: #707070;
  --label-bg-color: #E6E2E2;
  --label-font-color: #1D1C1C;
  --mandatory-style-bg: #FF2A2A;
  --validation-bg-color: #ff6060;
}

.main-text{
  color: var(--main-text-color);
}

.color-label-bg{
  background-color: var(--label-bg-color);
}

.color-form-desc{
  color: var(--label-font-color);
}

.mandatory{
  background-color: var(--mandatory-style-bg);
  color: #ffffff;
}

.inner_wrapper{
  width: 650px;
  margin: auto;
  padding-bottom: 70px;
}

.contact-guide-wrapper{
  margin: 2em 0;
}

.contact-wrapper{
 display: flex;
 justify-content: center;
 width: 100%;
 min-height: 100vh;
}

form{
  width: 100%;
}

.form_validation{
  position: absolute;
  /* width: 200px; */
  border-radius: 5px;
  background-color: var(--validation-bg-color);
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.5em;
}

.form_validation.name_first{
  top: 5px;
  left: 125px;
}

.form_validation.name_last{
  top: 5px;
  right: 5px;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  gap: 1em;
}

.input_wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
}

.input_error{
  outline: 2px solid crimson;
}

.input{
  width: 100%;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus{
  outline: solid 2px #E6E2E2;
}

input[name="name_last"],
input[name="kana_last"]{
  margin-left: 1em;
}

input[type="checkbox"]{
  outline: none;
  display: none;
}

label span{
  font-size:0.7em;
  padding: 2px 7px;
  border-radius: 5px;
  
}

input, select, textarea{
  border: solid 1px #E6E2E2;
  padding-left: 1em;
  color: var(--label-font-color);
  grid-column: 2/3;
}

input[type="file"]{
  padding-top: 5px;
}

textarea{
  resize: none;
  grid-row: 7/10;
}

.label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/2;
  background-color: var(--label-bg-color);
  padding: 0 1em;
}

.file{
  grid-row: 10;
}

.privacy-policy-window{
  width: 90%;
  height: 10em;
  background-color: rgb(235, 235, 235);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin: 2em auto;
  padding: 1em 2em;
  overflow-x: hidden;
  overflow-y: auto;
  /* white-space: nowrap; */
}

.privacy-policy-window p{
  font-size: 0.8em;
}

.privacy-policy{
  margin: 2em 0;
}

.chk-agree{
  margin-bottom: 2em;
}

.checkbox-agree{
  cursor: pointer;
  display: inline-block;
  padding: 5px 0 5px 30px;
  position: relative;
  width: auto;
}

.checkbox-agree::before{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox-agree::after{
  border-right: 6px solid #1969B4;
  border-bottom: 3px solid #1969B4;
  content: '';
  display: block;
  height: 20px;
  left: 7px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg) translate3d(0,2px,0) scale3d(.7,.7,1);
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  width: 9px;
}

input[type=checkbox]:checked + .checkbox-agree::before {
  border-color: #666;
}
input[type=checkbox]:checked + .checkbox-agree::after {
  opacity: 1;
  transform: rotate(45deg) scale3d(1,1,1);
}

.policy-text h4{
  margin-bottom: 0.5em;
}

.policy-text p {
  padding-left: 1em;
  margin-bottom: 2em;
}

.policy-text ul{
  padding-left: 3em;
}
