<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/common.css" rel="stylesheet">
  </head>
  <body>
    <div class="outer_wrapper">
      <header class="flex flex-space-between">
        <a class="company_logo" href="index.html"><img src="../img/Company Name-logo-black.png" alt=""></a>
        <nav>
          <ul class="global_menu-list flex flex-space-between">
            <li class="item"><a href="index.html">TOP</a></li>
            <li class="item"><a href="about.html">ABOUT</a></li>
            <li class="item"><a href="service.html">SERVICE</a></li>
            <li class="item"><a href="">RECRUT</a></li>
            <li class="item"><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </header>
      <div class="main-visual top"></div>
      <div class="inner_wrapper">
        <h1>This is index.html</h1>
      </div>
    </div>
  </body>
</html>